*{
	font-family: 'Montserrat', sans-serif;
}
.bg-image{
	background-color: #000000;
	background-image: url('../../images/trainBackground.jpg');
	height: 40em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(3px);
	-webkit-filter: blur(3px);
}
.bg-image__text{
	background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
	/*
	border: 3px solid #f1f1f1;
	*/
	color: white;
	font-weight: bold;
	position: absolute;
	top: 23rem;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	padding: 20px 60px;
}
.bg-image__name{
	border: 10px  #f1f1f1;
	border-style:double none;
}
.about__container{
	background-color:#038a7a;
	color: #fafafa;
	margin-right: auto !important; 
	margin-left: auto !important;
}